<% if(title) { %>
    <h1> <%= title%></h1>
    <% } else {
        res.redirect('/')
    } %>

<div id="form_holder_account">
    <div class="form-container">
        <form action="/account/update_account" method="post">
            <div class="form-group">
                <label for="account_firstname">First name:</label>
                <input type="text" id="account_firstname" name="account_firstname" required value="<%= locals.account_firstname %>">
            </div>
            <div class="form-group">
                <label for="account_lastname">Last name:</label>
                <input type="text" id="account_lastname" name="account_lastname" required value="<%= locals.account_lastname %>">
            </div>
            <div class="form-group">
                <label for="account_email">Email:</label>
                <input type="email" id="account_email" name="account_email" required value="<%= locals.account_email %>">
            </div>
            
            <div class="form-group">
                <input type="submit" value="Update account info">
                 <a href="/account/delete/<%= account_id %>"><input type="button" id="deleteAcBtn" value="DELETE ACCOUNT"></a>
                <input type="hidden" id="account_id" name="account_id" value="<%= account_id %>">
            </div>
        </form>
    </div>

    <div class="form-container">
        <h4>Password must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character.</h4>
        <p>* note your original password will be changed</p>
        <form action="/account/update_password" method="post">
            <div class="form-group">
                <label for="account_password">Password:</label>
                <input type="password" id="account_password" name="account_password" minlength="12" 
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
                title="Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character">
            </div>
            
            <div class="form-group">
                <input type="submit" value="Update password">
                <input type="hidden" id="account" name="account_id" value="<%= account_id %>"> 
            </div>
            <span id='shwPrdBtn' onclick="shwPass(this)">Show password</span>
        </form>
        
    </div>
   
</div>
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>